.tomato {
    background-color: #e54d2e;
}
.red {
    background-color: #e5484d;
}
.ruby {
    background-color: #e54666;
}
.crimson {
    background-color: #e93d82;
}
.pink {
    background-color: #d6409f;
}
.plum {
    background-color: #ab4aba;
}
.purple {
    background-color: #8e4ec6;
}
.violet {
    background-color: #6e56cf;
}
.iris {
    background-color: #5b5bd6;
}
.indigo {
    background-color: #3e63dd;
}
.blue {
    background-color: #0090ff;
}
.cyan {
    background-color: #00a2c7;
}
.teal {
    background-color: #12a594;
}
.jade {
    background-color: #29a383;
}
.green {
    background-color: #30a46c;
}
.grass {
    background-color: #46a758;
}
.bronze {
    background-color: #a18072;
}
.gold {
    background-color: #978365;
}
.brown {
    background-color: #ad7f58;
}
.orange {
    background-color: #f76b15;
}
.amber {
    background-color: #ffc53d;
}
.yellow {
    background-color: #ffe629;
}
.lime {
    background-color: #bdee63;
}
.mint {
    background-color: #86ead4;
}
.sky {
    background-color: #7ce2fe;
}
.zinc {
    background-color: #fafafa;
}
.gray {
    background-color: #8d8d8d;
}
.mauve {
    background-color: #8e8c99;
}
.slate {
    background-color: #8b8d98;
}
.sage {
    background-color: #868e8b;
}
.olive {
    background-color: #898e87;
}
.sand {
    background-color: #8d8d86;
}

.tw-slate {
    background-color: #64748b;
}
.tw-gray {
    background-color: #6b7280;
}
.tw-zinc {
    background-color: #71717a;
}
.tw-neutral {
    background-color: #737373;
}
.tw-stone {
    background-color: #78716c;
}

.tw-red {
    background-color: #ef4444;
}
.tw-orange {
    background-color: #f97316;
}
.tw-amber {
    background-color: #f59e0b;
}
.tw-yellow {
    background-color: #eab308;
}
.tw-lime {
    background-color: #84cc16;
}
.tw-green {
    background-color: #22c55e;
}
.tw-emerald {
    background-color: #10b981;
}
.tw-teal {
    background-color: #14b8a6;
}
.tw-cyan {
    background-color: #06b6d4;
}
.tw-sky {
    background-color: #0ea5e9;
}
.tw-blue {
    background-color: #3b82f6;
}
.tw-indigo {
    background-color: #6366f1;
}
.tw-violet {
    background-color: #8b5cf6;
}
.tw-purple {
    background-color: #d946ef;
}
.tw-fuchsia {
    background-color: #a21caf;
}
.tw-pink {
    background-color: #ec4899;
}
.tw-rose {
    background-color: #f43f5e;
}
