@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 98%;
        --foreground: 240 10% 4%;

        /* Blue */
        --primary: 215.89 100% 43.92%;
        --primary-foreground: 0 0% 98%;

        /* Zinc */
        --secondary: 240 5% 84%;
        --secondary-foreground: 240 10% 4%;

        /* Rose */
        --danger: 347 77% 50%;
        --danger-foreground: 0 0% 98%;

        /* Green*/
        --success: 120 100% 21%;
        --success-foreground: 0 0% 98%;

        /* Slate Blue */
        --info: 248 39% 48%;
        --info-foreground: 0 0% 98%;

        /* Amber */
        --warning: 32 95% 44%;
        --warning-foreground: 0 0% 98%;

        --dark: 240 10% 4%;
        --dark-foreground: 0 0% 98%;

        --muted: 240 5% 84%;
        --muted-foreground: 240 5% 65%;

        --accent: 240 100% 42%;
        --accent-foreground: 0 0% 98%;

        --border: 240 5% 84%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 240 10% 4%;
        --foreground: 0 0% 98%;

        /* Dark Blue */
        --primary: 240 58% 39%;
        --primary-foreground: 0 0% 98%;

        /* Zinc */
        --secondary: 240 5% 26%;
        --secondary-foreground: 0 0% 98%;

        /* Crimson */
        --danger: 348 83% 47%;
        --danger-foreground: 0 0% 98%;

        /* Dark Green */
        --success: 120 100% 20%;
        --success-foreground: 0 0% 98%;

        /* Dark Slate Blue */
        --info: 248 39% 39%;
        --info-foreground: 0 0% 98%;

        /* Dark Orange */
        --warning: 32 95% 44%;
        --warning-foreground: 0 0% 98%;

        --dark: 0 0% 98%;
        --dark-foreground: 240 10% 4%;

        --muted: 240 5% 26%;
        --muted-foreground: 240 5% 34%;

        --accent: 240 58% 39%;
        --accent-foreground: 0 0% 98%;

        --border: 240 5% 26%;
    }
}

@layer base {
    html {
        @apply scroll-smooth;
    }

    * {
        @apply border-border;
        font-feature-settings: 'cv11', 'ss01';
        font-variation-settings: 'opsz' 850;
    }

    body {
        @apply bg-background text-foreground;
        font-feature-settings:
            'rlig' 1,
            'calt' 1;
        text-rendering: optimizeLegibility;
    }

    /* Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: #d4d4d8 transparent;
    }

    /* dark mode */
    .dark {
        scrollbar-width: thin;
        scrollbar-color: #3f3f46 transparent;

        @media (prefers-color-scheme: dark) {
            * {
                scrollbar-width: thin;
                scrollbar-color: #3f3f46 transparent;
            }
        }
    }

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    *::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 5px;
    }

    *::-webkit-scrollbar-thumb {
        @apply bg-muted;
        border-radius: 14px;
        border: 3px solid transparent;
    }

    :root {
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
    }

    .dark {
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

.react-aria-Button,
.react-aria-Dialog {
    outline: none;
}

.react-aria-DropIndicator[data-drop-target] {
    outline: 1px solid hsl(var(--primary));
}

.recharts-rectangle.recharts-tooltip-cursor {
    @apply fill-zinc-300/10;
}

@layer components {
    .no-scrollbar {
        -ms-overflow-style: none; /* Internet Explorer and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }

    pre::-webkit-scrollbar {
        display: none;
    }
}
