@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --font-sans: 'Geist', sans-serif;
        --font-mono: 'Fira Code', monospace;

        --background: 0 0% 98.04%; /* zinc-50 */
        --foreground: 240 10% 3.92%; /* zinc-950 */
        --primary: 224.3 76.3% 48%; /* blue-700 */
        --primary-foreground: 0 0% 98.04%; /* zinc-50 */
        --secondary: 211.7 96.4% 78.4%; /* blue-300 */
        --secondary-foreground: 226.2 57% 21%; /* blue-950 */
        --danger: 0 72.22% 50.59%; /* red-600 */
        --danger-foreground: 0 0% 98.04%; /* zinc-50 */
        --success: 142.1 76.2% 36.3%; /* green-700 */
        --success-foreground: 0 0% 98.04%; /* zinc-50 */
        --warning: 24.6 95% 53.1%; /* orange-500 */
        --warning-foreground: 0 0% 98.04%; /* zinc-50 */
        --info: 294.7 72.4% 39.8%; /* fuchsia-500 */
        --info-foreground: 0 0% 98.04%;
        --dark: 240 10% 4%; /* zinc-950 */
        --dark-foreground: 0 0% 98.04%; /* zinc-50 */
        --muted: 240 4.88% 83.92%; /* zinc-300 */
        --muted-foreground: 240 3.83% 46.08%; /* zinc-500 */
        --radius: 0.5rem;
    }

    .dark {
        --background: 240 10% 3.92%; /* zinc-950 */
        --foreground: 0 0% 98.04%; /* zinc-50 */
        --primary: 221.2 83.2% 53.3%; /* blue-600 */
        --primary-foreground: 0 0% 98.04%; /* zinc-50 */
        --secondary: 226.2 57% 21%; /* blue-950 */
        --secondary-foreground: 211.7 96.4% 78.4%; /* blue-300 */
        --danger: 0 72.2% 50.6%; /* red-600 */
        --danger-foreground: 0 0% 98.04%;
        --success: 142.1 76.2% 36.3%; /* green-700 */
        --success-foreground: 0 0% 98.04%;
        --warning: 17.5 88.3% 40.4%; /* orange-700 */
        --warning-foreground: 0 0% 98.04%;
        --info: 294.7 72.4% 39.8%; /* fuchsia-700 */
        --info-foreground: 0 0% 98.04%;
        --dark: 0 0% 98.04%;
        --dark-foreground: 240 10% 3.92%;
        --muted: 240 5.2% 33.92%; /* zinc-800 */
        --muted-foreground: 240 5.03% 64.9%; /* zinc-400 */
    }
}

@layer base {
    html {
        @apply scroll-smooth;
    }

    * {
        @apply border-muted;
        font-feature-settings: 'cv11', 'ss01';
        font-variation-settings: 'opsz' 850;
    }

    body {
        @apply bg-background text-foreground;
        font-feature-settings:
            'rlig' 1,
            'calt' 1;
        text-rendering: optimizeLegibility;
    }

    /* Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: #d4d4d8 transparent;
    }

    /* dark mode */
    .dark {
        scrollbar-width: thin;
        scrollbar-color: #3f3f46 transparent;

        @media (prefers-color-scheme: dark) {
            * {
                scrollbar-width: thin;
                scrollbar-color: #3f3f46 transparent;
            }
        }
    }

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    *::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 5px;
    }

    *::-webkit-scrollbar-thumb {
        @apply bg-muted;
        border-radius: 14px;
        border: 3px solid transparent;
    }

    :root {
        --chart-1: var(--primary);
        --chart-2: var(--danger);
        --chart-3: var(--success);
        --chart-4: var(--warning);
        --chart-5: var(--info);
    }
}

.react-aria-Button,
.react-aria-Dialog {
    outline: none;
}

.react-aria-DropIndicator[data-drop-target] {
    outline: 1px solid hsl(var(--primary));
}

.recharts-rectangle.recharts-tooltip-cursor {
    @apply fill-zinc-300/10;
}

@layer components {
    .no-scrollbar {
        -ms-overflow-style: none; /* Internet Explorer and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }

    pre::-webkit-scrollbar {
        display: none;
    }
}
